:host {
  display: block;
  background-color: #fafafa;
  --text-color: #333;
}

form {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid var(--text-color);
}

input {
  flex-grow: 2;
  color: var(--text-color);
  background-color: transparent;
  border: 0;
  padding: 1rem;
  font-size: 1rem;
}

button {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}
