:host {
  display: block;
  width: 100%;
  max-width: 50vw;
  margin: 2rem auto;
  border-radius: 4px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  :host {
    max-width: 90vw;
  }
}
